/* navbar-collapse{
    margin-left: 5px !important;
} */
/* .abs{
    margin-left: 20pc !important;
    margin-right: 5pc !important;
} */
.topbar{
    background-color:#E6E6FA !important;
}
.nextbar{
    background-color:#E6E6FA !important;
}
.newbar{
    background-color: #cccc00 !important;
}
.footer{
background-color:	#DC143C !important;
}